.marked-body{font-size: 14px;
  h1 {margin-bottom: 30px}
  h2 {margin-bottom: 20px}
  h3 {margin-bottom: 10px;}
  p code, table code { color: #444;
    background-color: #eeffde;
    margin: 0 4px;
    display: inline-block;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;}
  .language-json, .language-javascript, .language-js {margin-bottom: 30px}
  table {width: 100%;border-spacing: 0; border-collapse: collapse;border: 1px solid #eaeefb;margin-bottom: 20px;
    th, td {border: 1px solid #eaeefb;color: #314659;text-align: left;padding: 10px 15px;}
  }
}
